.container-no-item{
    padding: 42px 40px 32px;
    div.image{
    display: inline-block;  
        img{
            width: 150px;
        } 
    }
    div.text{
    display: inline-block;   
    }
}